<div class="panel panel-default">
  <div class="panel-heading">商品カテゴリー</div>
  <div class="panel-body">
    <div class="collapse navbar-collapse navbar-ex1-collapse navbar-side-collapse">
      <ul class="nav navbar-nav side-nav">
        <% taxonomies.each do |taxonomy| %>
          <li>
            <a href="javascript:;" data-toggle="collapse" data-target="#taxonomy_<%= taxonomy.id %>">
              <%= taxonomy.name %><i class="fa fa-plus"></i>
            </a>
            <ul id="taxonomy_<%= taxonomy.id %>" class="collapse collapseItem">
              <% taxonomy.root.children.each do |child| %>
                <li>
                  <% if child.leaf? %>
                    <%= link_to potepan_category_path(child.id) do %>
                      <%= child.name %><span>(<%= child.products.count %>)</span>
                    <% end %>
                  <% else %>
                    <a href="javascript:;" data-toggle="collapse" data-target="#child_<%= child.id %>">
                      <%= child.name %><i class="fa fa-caret-right" aria-hidden="true"></i>
                    </a>
                    <ul id="child_<%= child.id %>" class="collapse collapseItem">
                      <% child.leaves.each do |leaf| %>
                        <%= link_to potepan_category_path(leaf.id) do %>
                          &nbsp;&nbsp;&nbsp;&nbsp;
                          <%= leaf.name %><span>(<%= leaf.products.count %>)</span>
                        <% end %>
                      <% end %>
                    </ul>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
