<% provide(:title, @taxon.name) %>

<%= render 'layouts/light_section' %>

<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4 col-xs-12 sideBar">
        <%= render 'category_sidebar', taxonomies: @taxonomies %>
        <%= render 'price_sidebar' %>
        <%= render 'color_sidebar' %>
        <%= render 'size_sidebar' %>
      </div>
      <div class="col-md-9 col-sm-8 col-xs-12">
        <%= render 'filter_area' %>
        <%= render 'products', products: @products %>
      </div>
    </div>
  </div>
</section>

<%= render 'partners_logo_slider' %>
