<% provide(:title, @product.name) %>
<%= render 'layouts/light_section', product: @product %>
<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix">
  <div class="container">
    <%= render 'layouts/product_details', product: @product %>
    <%= render 'layouts/related_products', related_products: @related_products %>
  </div>
</section>
