<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render 'layouts/head' %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="main_wrapper">
      <%= render 'layouts/header' %>
      <%= yield %>
      <%= render 'layouts/footer' %>
      <%= render 'layouts/copyright' %>
    </div>
    <%= render 'layouts/modals' %>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
